behavior {
    theme "Kon"
}

etty {
    chdirToPane true
    chdirToTerminal true
    copyOnSelection true
    dimWhenUnfocused true
    environ {}
    leadingSpaceOnCd true
    pasteOnRightClick true
    shell ""
    theme "Pastel"
    useMainThemeColors true
    usePaste true
    
    fonts {
        normal [ "MesloLGL Nerd Font" 11 ]
    }
}

files {
    defaultLocation "~/Downloads"
    dragDrop true
    fileWatcher true
    
    globalFilter {
        alwaysShowFolders true
        name [ "^(?!\\.DS_Store$).*$" ]
    }
}

keyBindings {
    "return" "core.rename"
    "Shift+Cmd+return" "core.open.with"
    "Cmd+return" "core.open"
    "Cmd+f" "core.favorites"
    "Cmd+Shift+f" "core.favorites.edit"
    "Cmd+r" "core.recent"
    "Cmd+Shift+c" "core.path"
}
